<div class="flex justify-center items-center h-screen">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-7 mt-0 mb-20 w-3/4 lg:w-2/3 xl:w-1/2">

    <div class="col-span-1">
      <p class="text-4xl mt-2 font-bold text-white"> Already Registered ? Sign in to continue </p>
      <hr class="mt-6 w-20 border-t-4 border-purple-300">
      <p class="text-1xl mt-4 font-bold text-white"> Oops, you forgot your password or you don't have an account yet ?</p>
      <p class="text-1xl mt-1 font-bold text-white"> Don't worry, we will help you retrieve it !</p>
      <%= render "devise/shared/links" %>
    </div>

    <div class="col-span-1 flex flex-col justify-center  bg-gray-600 bg-opacity-50 text-white rounded-lg overflow-hidden">
      <h2 class="text-4xl m-auto w-fit mt-5 font-bold mb-4 ml-44">Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field text-gray-300 ml-5 mr-5">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full p-2 rounded-md bg-gray-800" %>
        </div>
        <div class="field text-gray-300 mt-5 ml-5 mr-5">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "w-full p-2 rounded-md bg-gray-800" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field text-gray-300 mt-3 ml-5 mr-5"> <!-- Augmented margin here -->
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="actions text-white">
          <%= f.submit "Log in", class: "bg-cyan-500 mt-8 mb-5 text-white px-5 ml-80 py-2 rounded-md" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


